/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@400;600;700&display=swap');

/* ------------------------
common styles and utilities
-------------------------- */
* {
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}

.container {
    background: #FFF4E7;
}

.primary-btn {
    padding: 20px 24px;
    background-color: #FF900E;
    border-radius: 8px;
    font-size: 1.25em;
    border: 0;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-top: 2em;
    margin-bottom: 3em;
}

/* -----------------------------
navigation section styles start
-------------------------------- */
.navigation-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 35px;
    font-weight: 700;
    color: #131313;
}

.logo-text span {
    color: #FF900E;
}

.menu-section ul {
    list-style: none;
}

.menu-section ul li {
    display: inline;
    margin-right: 30px;
}

.menu-section ul li:hover a {
    color: #FF900E;
}

.menu-section ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

/*-----------
     END
---------- */
/*-----------------------------
  Banner section styles start
------------------------------- */

.banner {
    margin-top: -55px;
    text-align: center;
}

.banner-title {
    font-size: 4em;
    text-align: center;
    color: #131313;
}

.banner-description {
    color: #727272;
    font-size: 1em;
    text-align: center;
}

.banner-image img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 45px;
}

/*-------
    END
------- */
/*---------------------
 Work Environment styles
----------------------- */
.image-gallery {
    width: 60%;
}

.work-environment {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 85px 80px;
    gap: 70px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.images img {
    border-radius: 5px;
    width: 100%;
}

.work-environment-text {
    width: 40%;
}

.environment-title-one {
    color: #131313;
    font-size: 2.82em;
    font-weight: 700;
}

.environment-title-one span {
    color: #727272;
    font-weight: 500;
}

.environment-title-two {
    color: #FF900E;
    font-size: 2.82em;
    font-weight: 700;
    margin-top: -31px;
}

.environment-description {
    color: #727272;
    font-size: 1em;
    margin-bottom: 0;
}

/*-----
  END
------ */
/* -----------------
   Our Works styles
-------------------- */
.our-works {
    display: flex;
    gap: 54px;
    margin: 100px;
}

.our-work-texts {
    width: 50%;
}

.work-section-title {
    color: #131313;
    font-size: 3em;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}

.work-section-description {
    font-size: 1em;
    color: #727272;
}

.works {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.work {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 10px 5px 5px 10px;
}

.work-title {
    color: #131313;
    font-size: 1.25em;
    font-weight: 600;
}

.work-description {
    color: #727272;
    font-size: 1em;
}

.our-work-image {
    width: 50%;
}

.our-work-image img {
    border-radius: 5px;
    width: 100%;
}

.experience-duration {
    text-align: center;
}

.exprience-btn {
    padding: 45px;
    color: #fff;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    font-size: 1.56em;
    margin-top: -150px;
    margin-left: 445px;
}

.exprience-btn span {
    font-size: 4em;
    font-weight: 700;
}

/* -----
  END
------- */
/* --------------------
  Feedback styles start
------------------------ */
.feedback-texts {
    margin-left: 95px;
    margin-top: 100px;
}

.feedback-title {
    color: #131313;
    font-size: 3em;
}

.feedback-description {
    color: #727272;
    font-size: 1em;
}

.feedback-items {
    display: flex;
    column-gap: 2em;
    justify-content: center;
    margin-top: 50px;
}

.item {
    border-radius: 5px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 45px;
    align-items: center;
    transition: 1s ease;
}

.item:hover {
    transform: rotate(360deg);
    background-color: #FF900E;
    color: #fff;
}

#feedback-name span {
    color: #424242;
    font-size: 3em;
    font-weight: 700;
}

#feedback-name {
    color: #727272;
    font-size: 1.2em;
    font-weight: 600;
}

/* -------
    END
-------- */
/* --------------------
   Our Sponsors styles
----------------------- */
.our-sponsors {
    margin-top: 80px;
}

.sponsor-title {
    color: #131313;
    font-size: 3em;
    text-align: center;
    font-weight: 700;
}

.sponsor-description {
    color: #727272;
    font-size: 1em;
    text-align: center;
}

.sponsor-logo {
    margin: 60px 0;
    display: flex;
    justify-items: center;
    gap: 30px;
    justify-content: center;
}

/* -----
   END
------- */
/* ---------------
  Location styles
------------------ */
.contact-title {
    color: #131313;
    font-size: 3em;
    text-align: center;
    font-size: 600;
}

.location {
    display: flex;
    gap: 50px;
    margin: 30px 100px;
}

.directions {
    width: 50%;
}

.google-map iframe {
    border-radius: 5px;
}

.get-in-touch {
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input,
textarea {
    padding: 10px;
    border-radius: 5px;
    color: #E4E4E4;
    margin-bottom: 10px;
    border: 1px solid #FF900E;
}

#submit {
    background-color: #FF900E;
    font-size: 1.2em;
    color: #fff;
    border: 0;
}

/* -----
   END
------- */
/* ----------------------
   Footer section start
------------------------ */
.footer {
    margin: 100px auto;
    text-align: center;
    width: 100%;
    height: 100px;
    background: #FFF4E7;
    border-radius: 10px;
}

.footer p {
    padding-top: 40px;
    color: #424242;
    font-size: 1.2em;
}

/*-------
    END
---------- */
/*------------------
 Media Query styles 
 -------------------*/
/* small device */
@media only screen and (max-width: 576px) {

    .navigation-section,
    .logo,
    .our-works,
    .feedback-items {
        flex-direction: column;
    }

    .menu-section {
        margin-top: -51px;
    }

    .menu-section ul li {
        display: block;
        text-align: center;
        padding: 5px 0;
    }

    .our-works {
        margin: 20px;
    }

    .our-work-texts {
        width: 100%;
    }

    .our-work-image {
        width: 100%;
    }

    .exprience-btn {
        margin-top: 0;
        margin-left: 0;
    }

    .feedback-texts {
        margin-left: 30px;
        margin-top: 50px;
    }

    .feedback-items {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        margin: 30px;
    }

    .exprience-btn {
        padding: 20px;
        font-size: 1.2em;
    }

    .sponsor-logo {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        column-gap: 100px;
        margin: 20px;
        justify-items: center;
    }

    .location,
    .work-environment {
        margin: 0 10px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .work-environment {
        gap: 10px;
    }

    .image-gallery {
        width: 100%;
    }

    .work-environment-text {
        width: 100%;
    }

    .images {
        grid-template-columns: repeat(1, 1fr);
    }

    .directions {
        width: 100%;
    }

    .get-in-touch {
        width: 100%;
    }

    .contact-title {
        font-size: 2em;
    }

    .google-map iframe {
        width: 100%;
    }
}

/* Medium Devices */
@media only screen and (min-width: 576px) and (max-width: 992px) {

    .navigation-section,
    .logo,
    .our-works,
    .location {
        flex-direction: column;
    }

    .logo-text {
        margin-top: -45px;
    }

    .menu-section {
        margin-top: -41px;
        margin-left: 40px;
    }

    .banner {
        padding-top: 40px;
    }

    .our-works {
        margin: 20px;
    }

    .our-work-texts {
        width: 100%;
    }

    .our-work-image {
        width: 100%;
    }

    .exprience-btn {
        margin-top: 0;
        margin-left: 0;
    }

    .feedback-texts {
        margin-left: 30px;
        margin-top: 50px;
    }

    .feedback-items,
    .sponsor-logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        margin: 30px;
    }

    .location,
    .work-environment {
        margin: 0 10px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .work-environment {
        gap: 20px;
    }

    .image-gallery {
        width: 100%;
    }

    .work-environment-text {
        width: 100%;
    }
}

/* -----
   END
------ */